
html{
    background-color: rgb(94, 93, 93);
}

h1{
    background-color: pink;
    color: white;
    border-radius: 10px;
    padding-left: 10px;
    box-sizing:border-box;
}

.p1 {
    color:orange;
}

.p2{
    color: rgb(31, 247, 31);
}

.p3{
    color: lightblue;
    margin: 30px;
}

.border1{
    background-color: white;
    border: 5px solid orange;
    padding-bottom: 40px;
    box-sizing:border-box;
    margin-right: 100px;
}

/* using an ID here because this element only appears once!!!!! */
#eyedee {
    color:white;
}
